/*Descriptive colors*/
$black: #080808;
$gray-dark: #272727;
$gray: #333333;
$gray-light: #d8c4c4;
$gray-lighter: #fafafa;
$gray-purple: #d8c4c4;
$red: #d55454;
$blue: #3877a1;
$white: #ffffff;
/*Functional colors*/
$color-primary: $blue;
$color-secondary: $gray;
$color-title: $gray;
$color-text: $gray;
$color-text-light: $white;
$color-border: $gray-purple;
// Backgrounds
$color-bg: $white;
$color-bg-secondary: $gray-lighter;
$colog-bg-dark: $gray-dark;
// Borders
$solid-rule-primary: 1px solid $color-border;
// Fonts
$font-stack-primary: "Open Sans", Helvetica, Arial, sans-serif;
$font-stack-secondary: Helvetica, Arial, sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 800;
// Letter Spacings
$space-xs: 0.015ch;
$space-sm: 0.03ch;
$space-md: 0.0325ch;
$space-lg: 0.05ch;
$space-xl: 0.225ch;
$space-xxl: 0.5ch;
/*Breakpoints*/
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1920px;
