<div class="login">
    <div class="user-name">
        Welcome Tom
    </div>
    <div class="d-flex flex-column">
        <button type="button" class="login-btn" data-toggle="collapse" data-target="#loginPanel" aria-expanded="false"
            aria-controls="loginPanel">
            Login
        </button>
        <div id="loginPanel" class="login-panel collapse">
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="InputEmail" required placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" required placeholder="Password">
                </div>
                <button type="button" class="login-btn">LOGIN</button>
            </form>
        </div>
    </div>
</div>
