@import "../../assets/scss/_variables";

.login {
    position: relative;
    .user-name {
        font-size: 18px;
        font-weight: $font-light;
        color: $color-primary;
        padding-right: 3rem;
        display: none;
    }
    .arrow {
        width: 30px;
        height: 30px;
        border-top: $solid-rule-form;
        border-left: $solid-rule-form;
        transform: rotate(45deg);
        background-color: $color-bg;
        padding-top: 2rem;
        padding-right: 2rem;
        position: absolute;
        right: 10rem;
        top: -1rem;
        @media (max-width: $xl) {
            right: 2.5rem;
        }
    }
    .login-panel {
        position: absolute;
        top: 5.745rem;
        right: 0;
        @media (min-width: $lg) {
            right: -2rem;
        }
        @media (min-width: $xxl) {
            right: -8rem;
        }
        form {
            background-color: $color-bg;
            padding: 28px;
            border: $solid-rule-form;
            border-radius: 6px;
            width: 350px;
            height: auto;
            input {
                min-height: 60px;
                border-radius: 6px;
                border: 1px solid $color-border;
                color: $color-primary;
                &::placeholder {
                    color: $color-primary;
                    font-size: 22px;
                    font-weight: $font-light;
                }
            }
            .login-btn {
                height: 60px;
                width: 100%;
            }
        }
    }
}
