<div class="login">
    <div class="user-name">
        Welcome Tom
    </div>
    <div class="d-flex flex-column">
        <button type="button" class="login-btn" data-toggle="collapse" data-target="#loginPanel" aria-expanded="false"
            aria-controls="loginPanel">
            Login
        </button>

        <div id="loginPanel" class="login-panel collapse">

            {{ form.valid }}
            {{ form.value | json }}
            <div class="arrow mx-auto"> </div>
            <form #form="ngForm">

                <div class="form-group">
                    <input type="email" class="form-control" id="InputEmail" name="email" placeholder="E-mail"
                        maxlength="64" ngModel required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" name="password"
                        placeholder="Password" minlength="4" maxlength="32" ngModel required>
                </div>
                <button type="button" class="login-btn">LOGIN</button>
            </form>
        </div>
    </div>
</div>
