<div>
    <!-- Header -->
    <header>
        <div class="container pt-3">
            <div class="row justify-content-around align-items-center">
                <div class="logo col-6 d-flex flex-row justify-content-start align-items-center text-left">
                    <a href="#" routerLink="/"><img src="assets/img/logo.png" class="img-fluid" alt="RCA logo"></a>
                    <a class="title-page" href="#mainSection" (click)="scrollTo(mainSection)">
                        <h2> Products </h2>
                    </a>
                </div>
                <div class="login col-6 d-flex flex-row justify-content-end align-items-center">
                    <rca-login-form></rca-login-form>
                </div>
            </div>
        </div>
        <!--Banner-Section-->
        <section class="banner">
            <div class="container text-center">
                <img src="assets/img/banner.png" class="img-fluid m-auto" alt="Banner">
            </div>
        </section>
    </header>
    <!--Main-Page-->
    <section #mainSection>
        <rca-home></rca-home>
    </section>
    <!-- Footer -->
    <rca-footer></rca-footer>
</div>
