<section class="products">
    <div class="container">
        <div class="row justify-content-around align-items-center py-5">
            <div class="title col-6 text-left">
                Products
            </div>
            <div class="cart col-6 d-flex flex-row align-items-center justify-content-end">
                <a class="nav" href="#shoppingCart" [routerLink]="['/shopping-cart']"
                    (click)="toggleCart = !toggleCart">
                    <img src="assets/img/cart.png" class="img-fluid" alt="Shopping cart">
                    <div class="cart-counter pt-2"> {{ 0 }} </div>
                </a>
                <!-- <input class="cart-counter" type="text" [value]="cartAmount" readonly #counterField> -->
            </div>
        </div>
        <div class="products-list row justify-content-center align-items-center">
            <product-item *ngFor="let p of products" [product]="p" (add)="shoppingCart.addItem($event)"></product-item>
        </div>
    </div>
</section>
<shopping-cart #shoppingCart></shopping-cart>
