@import "assets/scss/reset";
@import "assets/scss/variables";

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,800&display=swap');

/*Base-Styles*/
html,
body {
    background-color: $color-bg !important;
    font-family: $font-stack-primary !important;
    color: $color-text !important;
    background-color: $color-bg;
}
/*Buttons*/
a,
button {
    -webkit-transition: 0.35s ease;
    transition: 0.35s ease;
}
.login-btn {
    background-color: $color-primary;
    height: 60px;
    width: 118px;
    border-radius: 6px;
    color: $color-text-light;
    font-size: 18px;

    &:hover {
        border: 2px solid $color-primary;
        background-color: $color-bg;
        color: $color-primary;
    }
}
.cart-btn {
    @extend .login-btn;
    font-size: 14px;
    width: 299px;
    height: 49px;
}
/*Containers*/
.container {
    max-width: 1580px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

//
// Todo -- Move it OUT //
//

/*Header*/
header {
    height: 100vh;
    .logo {
        height: 101px;
        width: 244px;
    }
    .title-page > h2 {
        font-size: 22px;
        font-family: $font-stack-primary;
        color: $color-primary;
    }
    .banner {
        img {
            max-width: 65%;
        }
    }
}
/*Products Section*/
.products,
.shopping-cart {
    // background-color: $color-bg-secondary;
    background-color: #ecece0;
    font-family: $font-stack-primary;
    padding-bottom: 8rem;
    .title {
        font-size: 69px;
        font-weight: $font-light;
    }
    .cart-counter {
        font-size: 22px;
        color: $color-primary;
        margin-left: 1rem;
        background-color: transparent;
        border: none;
        width: 1rem;
    }
    .products-list {
        margin-left: -12px;
        margin-right: -12px;
    }
}
