@import "../../assets/scss/_variables";
/*Header*/
header {
    .logo {
        height: 101px;
        width: 244px;
    }
    .title-page > h2 {
        font-size: 22px;
        font-family: $font-stack-primary;
        color: $color-primary;
    }
    .login {
        position: relative;
        .user-name {
            font-size: 18px;
            font-weight: $font-light;
            color: $color-primary;
            padding-right: 3rem;
            display: none;
        }
        .login-panel {
            position: absolute;
            top: 4.5rem;
            right: -6.5rem;
            form {
                background-color: $color-bg;
                padding: 28px;
                border: 1px solid $color-border;
                border-radius: 6px;
                width: 350px;
                height: auto;
                input {
                    min-height: 60px;
                    border-radius: 6px;
                    border: 1px solid $color-border;
                    color: $color-primary;
                    &::placeholder {
                        color: $color-primary;
                        font-size: 22px;
                        font-weight: $font-light;
                    }
                }
                .login-btn {
                    height: 60px;
                    width: 100%;
                }
            }
        }
    }

}
/*Products Section*/
.products {
    background-color: $color-bg-secondary;
    padding-bottom: 8rem;
    .title {
        font-family: $font-stack-secondary;
        font-size: 69px;
        font-weight: $font-light;
    }
    .cart-counter {
        font-size: 22px;
        color: $color-primary;
        margin-left: 1rem;
    }
    .products-list {
        margin-left: -12px;
        margin-right: -12px;
    }
}
/*Footer*/
footer {
    background-color: $colog-bg-dark;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .text {
        color: $color-primary;
    }
}
