@import "../../assets/scss/_variables";
/*Header*/
header {
    .logo {
        height: 101px;
        width: 244px;
    }
    .title-page > h2 {
        font-size: 22px;
        font-family: $font-stack-primary;
        color: $color-primary;
    }
    .user-name {
        font-size: 18px;
        font-weight: $font-light;
        color: $color-primary;
        padding-right: 3rem;
    }
}
/*Products Section*/
.products {
    background-color: $color-bg-secondary;
    .title {
        font-family: $font-stack-secondary;
        font-size: 69px;
    }
    .product-item {
        background-color: $color-bg;
        position: relative;
        padding: 18px 16px 32px 16px;

        .header {
            margin-bottom: 32px;
            .title-product {
                font-size: 33px;
            }
            .category-product {
                font-size: 14px;
            }
            .price {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 33px;
                height: 78px;
                width: 119px;
                color: $color-text-light;
                background-color: $gray;
                border-radius: 0 0 6px 6px;
            }
        }

        .img-product {
        }
        .cart-btn {
            margin-top: 19px;
            margin-bottom: 32px;

        }
    }
}
/*Footer*/
footer {
    background-color: $colog-bg-dark;
    .text {
        color: $color-primary;
    }
}
