@import "../../assets/scss/_variables";
/*Header*/
header {
    .logo {
        height: 101px;
        width: 244px;
    }
    .title-page > h2 {
        font-size: 22px;
        font-family: $font-stack-primary;
        color: $color-primary;
    }
}

