<!-- Header -->
<header>
    <div class="container pt-3">
        <div class="row justify-content-around align-items-center">
            <div class="logo col-6 d-flex flex-row justify-content-start align-items-center text-left">
                <img src="assets/img/logo.png" class="img-fluid" alt="RCA logo">
                <div class="title-page">
                    <h2> Products </h2>
                </div>
            </div>
            <div class="login col-6 d-flex flex-row justify-content-end align-items-center">
                <div class="user-name">
                    Welcome Tom
                </div>
                <div class="d-flex flex-column">
                    <button type="button" class="login-btn" data-toggle="collapse" data-target="#loginPanel"
                        aria-expanded="false" aria-controls="loginPanel">
                        Login
                    </button>
                    <div class="login-panel collapse" id="loginPanel">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="InputEmail" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                            <button type="button" class="login-btn">LOGIN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Banner-Section-->
<section class="banner">
    <div class="container text-center">
        <img src="assets/img/banner.png" class="img-fluid" alt="RCA logo">
    </div>
</section>
<!-- Products-Section -->
<section class="products">
    <div class="container">
        <div class="row justify-content-around align-items-center py-5">
            <div class="title col-6 text-left">
                Products
            </div>
            <div class="cart col-6 d-flex flex-row align-items-center justify-content-end">
                <a class="nav" [routerLink]="['/shopping-cart']">
                    <img src="assets/img/cart.png" class="img-fluid" alt="Shopping cart">
                </a>
                <div class="cart-counter"> 1 </div>
            </div>
        </div>
        <rca-product></rca-product>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="logo col-12 col-lg-6 text-left">
                <img src="assets/img/logo.png" class="img-fluid" alt="RCA logo">
            </div>
            <div class="text col-12 col-lg-6 text-right">
                Teste front-end 2021 - RCA Digital
            </div>
        </div>
    </div>
</footer>
