<div class="product-item" #productBox [ngClass]=" isSelected ? 'selected' : '' ">
    <div class="header">
        <div class="title-product">
            <h3> {{ product.title }}</h3>
        </div>
        <div class="category-product">
            <h4> {{ product.category }} </h4>
        </div>
        <div class="price text-center">
            {{ product.price | currency : 'USD' : 'symbol' : '1.0-0'}}
        </div>
    </div>
    <div class="img-product text-center">
        <img [src]="product.imagePath" class="img-fluid" alt="Product image">
    </div>
    <div class="text-center">
        <!-- <ng-container *ngIf="!isSelected" >
            <button  (click)="emitAddEvent()" class="cart-btn " type="button" > {{ buttonName }} </button>
        </ng-container>
        <ng-container *ngIf="isSelected" >
            <button  (click)="emitRemoveEvent()" class="cart-btn " type="button" > {{ buttonName }}</button>
        </ng-container> -->
        <button  (click)="emitAddEvent()" class="cart-btn " type="button" > {{ buttonName }} </button>
    </div>
</div>
